.left-hand {
    position: absolute;
    left: 500px;
    top: 150px;
    transform: rotate(180deg);
}

.right-hand {
    position: absolute;
    left: 500px;
    top: 150px;
    transform: rotate(180deg);
}

.left-hand1 {
    position: absolute;
    left: 300px;
    top: 250px;
}

.right-hand1 {
    position: absolute;
    left: 500px;
    top: 250px;
}
