.container {
    position: relative;
}

.container img {
    position: absolute;
    left: 300px;
    /* You can adjust top, right, and bottom properties as needed */
    top: 150px;
    transform: rotate(170deg); /* Rotate the image by 45 degrees */
   
}
