.left-hand {
    position: absolute;
    left: 300px;
    top: 50px;
    transform: rotate(180deg);
}

.right-hand {
    position: absolute;
    left: 500px;
    top: 50px;
    transform: rotate(180deg);
}
